*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.nav-container{
    background-color: rgba(78, 78, 78, 0.977);
    height: 60px;
    width: 100%;
    
}
.main-menu{
    list-style: none;
    display: block;
    align-items: center;
    /* text-align:center; */
    background-color: rgb(34, 101, 107);
    height: 100%;
    overflow: hidden;
}
.main-menu li{
    /* background-color: aliceblue; */
    margin: 0 5px;
    padding: 4px;
    /* color: white; */
    display: inline-block;
    line-height: 45px;
    /* height: 100%; */
    /* line-height: 40px; */
    
}

.submenu{
    position: absolute;
    top: 70px;
    margin: 0px 0px 0 -30px;
    width: 120px;
    background-color: azure;
    overflow: hidden;
    text-align: center;
    display: none;
}

.submenu li{
    display: block;
    border-bottom: 1px solid rgba(86, 86, 86, 0.432);
    padding: 2px;
    line-height: 30px;
    margin: 0 0 0 -40px;
}
.submenu li:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(16, 60, 63);

}
.main-menu li:hover,.main-menu li a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(7, 34, 37);
}

.main-menu li a{
    text-decoration: none;
    color: white;
}
.submenu li a{
    text-decoration: none;
    color: rgb(34, 101, 107); 
}
.main-menu li:hover .submenu{
    display: block;
}

.yuri{
    margin-top: -40px;
    background:url(../images/burger.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 630px;
    z-index: 7;
    /* height: 70vh; */
    color: rgb(196, 189, 95);
}
.yuri-text{
    position: relative;
    margin-left: 20px;
    top:87%;
    font-size: 50px;
    padding-top: 30px;
}
.yuri-text:hover{
    background-color: rgb(86, 86, 81);
    margin: 0 950px 0 0;
    border-radius: 20px;
    transition: 2s;
}
.inputs .input-align{
    width: 800px;
    margin-left: 220px;
    height: 30px;
    margin-bottom: 20px;
}
.inputs .inp-br{
    border: 0px;
    border-bottom: 1px solid rgba(76, 76, 76, 0.648);
    
}
.inputs .inp-br:hover{
     background-color: rgba(169, 169, 169, 0.477); 
}

.heading{
    padding: 0 200px 20px 220px;
    clear: both;
}
.excel{
    color: rgb(34, 101, 107);
}
.about-sec{
    width: 90%;
    margin: 40px auto;
}

.about-sec img{
    width: 40%;
    object-fit: cover;
    height: 400px;
    margin: 0 0 0 70px;
    
}
.cont-about{
    padding-top: -140px;
    width: 40%;
    float: right;
    height: 400px;
    margin-right: 70px;
}
.cont-about:hover{
    transform: scale(1.2,1.2) ;
    transition: 1s;
    padding-top: 30px;
}




.dustin-text{
    padding-top: -140px;
    width: 30%;
    float: left;
    height: 400px;
    margin-left: 130px ;

}
.text:hover{
    transform: scale(1.2,1.2) ;
    transition: 1s;
    padding-left: 30px;
    background-color: rgb(148, 147, 113);
    border-radius: 20px;
    border-style: double;
}
   
.dustin img{

  width: 40%;
    object-fit: cover;
    height: 350px;
    margin: 0 0 0 100px;
}
.dustin img:hover{
    width: 50%;
    height: 400px;
    transition: 0.80s;
}
.text{
    color: rgb(18, 82, 92);
}
.button{
    margin-left:  220px;
    margin-bottom: 20px;
    color:rgba(26, 75, 79, 0.881);
    background-color: rgb(197, 209, 211);
    border-radius: 8px;
    border: 0px;
    padding: 6px;
    
}
.link{
    margin-left: 550px;
    color: rgb(30, 81, 88);
    text-decoration: none;
}
.button:hover{
    color:rgba(203, 202, 218, 0.881);
    background-color: rgb(73, 122, 118);
    transform: scale(1.2,1.2) ;
    /* rotate(-360deg) translate(10px, 23px); */
    border-radius: 15px;
    transition: 0.81s ease;
}
input[type=text]:focus, input[type=date]:focus{
    border:2px dotted red;
    background-color: aqua;

}






   